/*
 * CSS para o tema unico-clean
 * @author Adam Dias dos Santos (contato@adamdias.com.br)
 * @copyright (c) 02/2018 "www.adamdias.com.br"
 */

 /* FONT */
 @font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 300; src: url('fonts/montserrat-v12-latin-300.eot'); src: local('Montserrat Light'), local('Montserrat-Light'), url('fonts/montserrat-v12-latin-300.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-v12-latin-300.woff2') format('woff2'), url('fonts/montserrat-v12-latin-300.woff') format('woff'), url('fonts/montserrat-v12-latin-300.ttf') format('truetype'), url('fonts/montserrat-v12-latin-300.svg#Montserrat') format('svg'); }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url('fonts/montserrat-v12-latin-regular.eot'); src: local('Montserrat Regular'), local('Montserrat-Regular'), url('fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'), url('fonts/montserrat-v12-latin-regular.woff') format('woff'), url('fonts/montserrat-v12-latin-regular.ttf') format('truetype'), url('fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 700; src: url('fonts/montserrat-v12-latin-700.eot'); src: local('Montserrat Bold'), local('Montserrat-Bold'), url('fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-v12-latin-700.woff2') format('woff2'), url('fonts/montserrat-v12-latin-700.woff') format('woff'), url('fonts/montserrat-v12-latin-700.ttf') format('truetype'), url('fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg'); }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 800; src: url('fonts/montserrat-v12-latin-800.eot'); src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url('fonts/montserrat-v12-latin-800.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-v12-latin-800.woff2') format('woff2'), url('fonts/montserrat-v12-latin-800.woff') format('woff'), url('fonts/montserrat-v12-latin-800.ttf') format('truetype'), url('fonts/montserrat-v12-latin-800.svg#Montserrat') format('svg'); }

/* RESET */
 *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-family: 'Montserrat', sans-serif;margin:0;padding:0}object,embed,video,iframe,iframe[style]{max-width:100%;height:auto}img{max-width:100%;vertical-align:middle}a img{border:none}a{text-decoration: none}ul{list-style:none}.form_load{display:none}.fontzero{font-size: 0 !important;}

/*
 * SISTEMA DE GRID
 */


/* container  */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 25px;
}

.container.medium {
	padding: 30px 25px;
}

.container.big {
	padding: 40px 25px;
}

.container.none {
	padding: 0 25px;
}

/* linha */

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

/* colunas */

.col {
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	margin-right: -4px;
	margin-top: 10px;
	margin-bottom: 10px;
	*zoom: 1;
	*display: inline;
}

@media (min-width:900px) {
	/*colunas*/
	.col-50, .col-25, .col-33 {
		width: 50%;
	}
	.container.big {
		padding: 60px 30px !important;
	}
	/* HEADER */
	.header_botao_menu_mobile {
		display: none;
	}
	.header_menu_mobile {
		display: none !important;
	}
	.header_menu_desktop {
		display: block !important;
	}
	.header_principal {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.header_carrinho_mobile {
		display: none !important;
	}
	.header_carrinho {
		display: inline-block !important;
	}
	.header_logo {
		display: none !important;
	}

	/* INICIO */
	.apresentacao {
		padding: 80px 25px 120px 25px !important;
	}
	.apresentacao h1 {
		font-size: 2em !important;
		max-width: 750px;
	}
	.apresentacao .tagline {
		max-width: 750px;
	}
	/* .apresentacao_mensagem {
		font-size: 1em !important;
		display: block !important;
	} */
	.apresentacao a {
		position: relative !important;
		width: auto !important;
		margin-top: 40px !important;
	}
	.iscadigital_item {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
	}
	/* .iscadigital_item.isca_curso {
		margin-left: 4%;
	} */
	.iscadigital_item.isca_ebook {
		margin-bottom: 0 !important;
	}
	/* .espiral_separator {
		display: block !important;
	} */
	.cursos {
		margin-top: 0 !important;
		margin-bottom: 20px;
	}
	.diferencial {
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.diferencial_item {
		/* padding: 0 40px !important; */
	}
	.curso_feed_titulo {
		font-size: 1.4em !important;
	}
	.curso_feed input {
		width: 65% !important;
		font-size: 1em !important;
	}

	.curso_feed ._submit {
		width: 35% !important;
		font-size: 1em !important;
	}
	/* CURSO */
	.curso .curso_video {
		margin: 0 auto !important;
		width: 600px !important;
		height: 400px !important;
		margin-bottom: -30px !important;
	}
	.curso_presente .tagline {
		padding-right: 30px;
	}
	.curso_professor_descricao {
		padding-left: 40px;
	}
}

@media (min-width:1200px) {
	/* demais colunas */
	.col-20 {
		width: 20%;
	}
	.col-25 {
		width: 25%;
	}
	.col-30 {
		width: 30%;
	}
	.col-33 {
		width: 33.3333%;
	}
	.col-40 {
		width: 40%;
	}
	.col-60 {
		width: 60%;
	}
	.col-70 {
		width: 70%;
	}
	.col-75 {
		width: 75%;
	}
	.col-80 {
		width: 80%;
	}
}

@media (min-width:1500px) {
	.container {
		padding-right: 9.8% !important;
		padding-left: 9.8% !important;
	}
	/* INICIO */
	.apresentacao {
		height: 600px !important;
		padding-top: 120px !important;
	}
	.apresentacao h1 {
		font-size: 2.7em !important;
		max-width: 1000px !important;
	}
	.apresentacao .tagline {
		max-width: 1000px !important;
		font-size: 1.5em !important;
		margin: 40px 0 30px 0 !important;
	}
	.apresentacao_mensagem {
		font-size: 1.2em !important;
	}
}

/*
* GERAIS
*/
.pagina_titulo {
	text-align: center;
	color: #FFF;
	background-image: url(images/fundo-pagina.png);
}

.pagina_titulo h1 {
	font-weight: 800;
	font-size: 2.2em;
	text-transform: uppercase;
}

.pagina_titulo .tagline {
	font-weight: 300;
	margin-top: 5px;
}

/*
 * HEADER
 */
.header_menu_desktop {
	display: none;
	text-align: center;
}

.header_principal {
	background-color: #FFF;
	width: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.header_menu_desktop li {
	display: inline-block;
	margin-right: 30px;
	margin-top: 8px;
}

.header_menu_desktop li:last-of-type {
	margin-right: 0 !important;
}

.header_menu_desktop a {
	font-size: 1em;
	font-weight: 700;
	color: #656565;
}

.header_menu_desktop a:hover {
	color: #38CBC5;
}

.header_botao_menu_mobile {
	position: absolute;
	width: 32px;
	right: 30px;
	cursor: pointer;
	top: 50px;
}

.header_menu_mobile {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #252729;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	padding-top: 75px;
}

.header_menu_mobile li {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header_menu_mobile li:last-of-type {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header_menu_mobile a {
	font-size: 0.8em;
	color: #fff;
	text-transform: uppercase;
	display: block;
	width: 100%;
	padding: 20px 30px;
}

.header_menu_mobile a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.header_logo {
	display: block;
	width: 170px;
	margin-bottom: -25px;
}

.header_logo_menu {
	display: none;
}

.header_logo img{
	width: 170px;
}

.header_botao_menu_mobile.branco {
	top: 30px;
	width: 20px !important;
}

.header_carrinho {
	position: relative;
	display: none;
	margin-right: 0 !important;
}

.header_carrinho a {
	padding: 8px 12px;
	background-color: #0B9CCA;
}

.header_carrinho a:hover {
	background-color: #0983a8;
}

.header_carrinho span {
	position: absolute;
	padding: 3.5px;
	font-size: 0.8em;
	color: #656565;
	font-weight: 800;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	top: -10px;
	right: -10px;
}

.header_carrinho_mobile span {
	padding: 5px 7px;
	font-size: 1em;
	color: #656565;
	font-weight: 800;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-left: 20px;
}

/*
 * INÍCIO
 */
.apresentacao {
	background: linear-gradient(151.19deg, rgba(31, 31, 31, 0.55) 47.6%, rgba(34, 62, 88, 0) 72.24%), url(images/fundo_home.jpg);;
	background-size: cover;
	background-position: center;
	padding: 30px 20px;
	position: relative;
	padding-bottom: 100px;
}

.apresentacao h1 {
	font-size: 1.2em;
	color: #FFF;
	font-weight: 800;
	text-transform: uppercase;
}

.apresentacao .tagline {
	font-size: 1.125em;
	font-weight: 300;
	color: #FFF;
	line-height: 23px;
	margin: 20px 0 30px 0;
}

.apresentacao a {
	padding: 15px 20px;
	color: #FFF;
	background-color: #38CBC5;
	text-align: center;
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 5px solid rgba(0,0,0,0.3);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.apresentacao a:hover {
	background-color: #dfa404;
}

.apresentacao_mensagem {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(33, 33, 33, 0.8);
	font-size: 0.8em;
	color: #FFF;
	font-weight: 700;
	width: 100%;
	text-align: center;
	border-left: 15px solid rgba(33, 73, 195, 0.8);
	border-right: 15px solid rgba(210, 27, 25, 0.8);
	padding: 20px 10px;
	text-transform: uppercase;
}

.section_titulo {
	text-align: center;
	margin-bottom: 30px;
}

.section_titulo h1 {
	text-transform: uppercase;
	color: #656565;
	font-size: 1.8em;
	font-weight: 800;
}

.section_titulo .tagline {
	font-size: 0.875em;
	font-weight: 300;
	margin-top: 5px;
}

.curso_item {
	padding: 20px 15px;
	background-color: #FFF;
	min-height: 185px;
	position: relative;
}

.curso_img {
	width: 100%;
}

.zoom {
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.curso_item h1 {
	font-size: 1.125em;
	margin-bottom: 15px;
}

.curso_item h1 a {
	color: #656565;
}

.curso_item h1 a:hover {
	text-decoration: underline;
}

.curso_item .tagline {
	color: #656565;
	font-weight: 300;
	line-height: 23px;
	font-size: 0.875em;;
}

.curso_links {
	position: absolute;
	bottom: 25px;
	right: -23px;
}

.curso_links li {
	display: inline-block;
}

.curso_links a {
	padding: 8px 10px;
	color: #FFF;
	font-weight: 700;
	background-color: #0B9CCA;
	text-transform: uppercase;
	font-size: 0.8em;
}

.curso_links a:hover {
	background-color: #0983a8;
}

.curso_links .btn_sell {
	border: none;
	height: auto;
	padding: 8px 10px;
	background-color: #00C37A;
	color: #FFF;
	font-size: 0.8em;
	font-weight: 700;
	cursor: pointer;
	margin-bottom: -7px;
	margin-left: 3px;
	width: 140px;
}

.curso_links .btn_sell:hover {
	background-color: #02ad6e;
}

.iscadigital {
	margin-top: 40px;
	display: block;
	position: relative;
}
/*
.espiral_separator {
	position: absolute;
	left: 50%;
	top: 38px;
	height: 100%;
	background-image: url(images/espiral_vert.png);
	background-repeat: no-repeat;
	width: 20px;
	margin-left: -10px;
	display: none;
} */

.iscadigital_item {
	position: relative;
	text-align: center;
	color: #FFF;
	background-color: #252729;
	padding: 95px 30px 110px 30px;
	border-top: 5px solid;
}

.iscadigital_item img {
	position: absolute;
	left: 50%;
	margin-left: -49.5px;
	top: -49.5px;
}

.iscadigital_item .iscadigital_free {
	font-size: 1.3em;
	color: #FFF;
}

.iscadigital_item .iscadigital_free:hover {
	text-decoration: underline;
}

.iscadigital_item.isca_ebook {
	border-color: #38CBC5;
	background: linear-gradient(115.1deg, rgba(0, 0, 0, 0.8) 0.5%, rgba(10, 63, 70, 0.56) 100.6%), url(images/fundo_isca_ebook.jpg);
	margin-bottom: 75px;
	background-size: cover;
	background-position: center;
}

.iscadigital_item.isca_curso {
	border-color: #FFA191;
	background: linear-gradient(115.1deg, rgba(0, 0, 0, 0.8) 0.5%, rgba(10, 63, 70, 0.56) 100.6%), url(images/fundo_isca_curso.jpg);
	background-size: cover;
	background-position: center;
}

.iscadigital_item h1 {
	font-weight: 800;
	font-size: 1em;
	margin-bottom: 5px;
}

.iscadigital_item .tagline {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.4em;
	max-width: 400px;
	margin: 0 auto;
}

.iscadigital_item .iscadigital_btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 5px;
	text-align: center;
	color: #FFF;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 5px solid rgba(0,0,0,0.09);
	font-size: 1.125em;
	max-height: 57px;
}

.iscadigital_item .btn_sell {
	display: none;
}

.isca_ebook .iscadigital_btn {
	background-color: #0E7886;
}
.isca_ebook .iscadigital_btn:hover {
	background-color: #11a1b4;
	font-size: 1.3em;
	padding: 13.5px 5px;
}

.isca_curso .iscadigital_btn {
	background-color: #fc5e43;
}
.isca_curso .iscadigital_btn:hover {
	background-color: #fa6f56;
	font-size: 1.3em;
	padding: 13.5px 5px;
}

.diferencial_item {
	padding: 0 10px;
	position: relative;
	margin-top: 30px;
}

.diferencial_item h1 {
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: 700;
	color: #38CBC5;
	margin-bottom: 10px;
}

.diferencial_item .tagline {
	margin-top: 10px;
	font-weight: 300;
	line-height: 33px;
	font-size: 0.875em;
	color: #656565;
}

.diferencial_item a {
	background-color: #00C37A;
	padding: 8px 10px;
	color: #FFF;
	font-size: 0.875em;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
	display: inline-block;
}

.diferencial_item a:hover {
	background-color: #02ad6e;
}

 /*
 * CURSOS
 */
.curso {
	text-align: center;
	background-image: url(images/fundo-curso.png);
	background-color: #28292b;
	color: #FFF;
	border-top: 5px solid #38CBC5;
}

.curso a {
	background-color: #00B494;
	border-bottom: 10px solid rgba(0,0,0,0.5);
	color: #FFF;
	padding: 20px;
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	max-width: 300px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

.curso a:hover {
	background-color: rgb(3, 163, 134);
}

.curso img {
	max-width: 500px;
	height: 300px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	margin-bottom: 40px;
}

.curso .embed-container {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	margin-bottom: 40px;
}

.curso h1 {
	font-size: 1.8em;
	font-weight: 800;
	text-transform: uppercase;
}

.curso .tagline {
	font-weight: 300;
	font-size: 1.25em;
	margin-top: 10px;
}

.curso_titulo {
	position: relative;
	margin-bottom: 30px;
}

.curso_titulo h1 {
	color: #38CBC5;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 2em;
}

.curso_titulo .borda {
	position: absolute;
	width: 50px;
	height: 2px;
	margin-top: 5px;
	background-color: #38CBC5;
}

.curso_descricao p {
	display: block;
	margin-bottom: 30px;
	font-weight: 300;
	color: #656565;
	line-height: 30px;
}

.curso_descricao p:last-of-type {
	margin-bottom: 0;
}

.curso_carga p {
	color: #656565;
}

.curso_modulo h1 {
	background: #EEEEEE;
	border: 1px solid #ECEDEE;
	padding: 15px 20px;
	font-size: 1em;
	color: #656565;
	margin-top: 15px;
	font-weight: 700;
}

.curso_modulo li {
	border: 1px solid #ECEDEE;
	padding: 15px 20px;
	font-size: 0.875em;
	color: #656565;
	border-top: none;
}

.curso_modulo span {
	width: 10px;
	height: 10px;
	background: #ccc;
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	margin-right: 10px;
}

.curso_professor {
	background-color: #0B9CCA;
}

.curso_professor .curso_video {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.curso_professor img {
	width: 290px;
	height: 220px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.curso_professor_descricao img {
	width: 150px;
	height: 100px;
	border-radius: 0;
	margin-bottom: 20px;
}

.curso_professor_descricao h1 {
	font-size: 1.67em;
	font-weight: bold;
	color: #FFF;
	margin-bottom: 20px;
}

.curso_professor_descricao .tagline {
	font-size: 1em;
	font-weight: 300;
	color: #FFF;
	line-height: 30px;
}

.curso_demonstracao {
	background-color: #343434;
}

.curso_demonstracao .curso_titulo {
	margin-bottom: 50px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.curso_demonstracao_item h1 {
	text-align: center;
	text-transform: uppercase;
	padding: 10px 20px;
	margin-bottom: 20px;
	background-color: #656565;
	color: #FFF;
	font-size: 1.125em;
	display: inline-block;
}

.curso_presente h1 {
	color: #656565;
	font-size: 1.8em;
	font-weight: 700;
	margin-bottom: 15px;
}

.curso_presente .tagline {
	color: #656565;
	font-weight: 300;
	line-height: 30px;
	margin-top: 20px;
}

.curso_presente_form {
	background: #FFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	padding: 25px 30px 90px 30px;
	position: relative;
}

.curso_presente_form p {
	color: #656565;
	font-size: 1.2em;
	text-align: center;
	max-width: 270px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.curso_presente_form input, .curso_presente_form select {
	border: none;
	border-bottom: 2px solid #eee;
	font-size: 1.05em;
	padding: 18px 10px;
	color: #555555;
	background-color: #FFF;
}

.curso_presente_form input:focus, .curso_presente_form select:focus {
	box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;
	-webkit-box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
	border-bottom: 2px solid #00B494;
}

.curso_presente_form_btn {
	position: absolute;
	width: 100%;
	bottom: -5px;
	left: 0;
	background-color: #FF6D00 !important;
	color: #FFF !important;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	font-size: 1em !important;
	padding: 22px 0 !important;
}

.curso_presente_form_btn:hover {
	background-color: rgb(241, 105, 0) !important;
}

.presente {
	background-color: #FAFAFA;
}

.curso_titulo_presente {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 1.3em;
	color: #656565;
}

.curso_garantia {
	text-align: center;
	background-color: #F2F2F2;
}

.curso_garantia h1 {
	color: #656565;
	margin-top: 30px;
	font-size: 1.6em;
}

.curso_garantia .tagline {
	color: #656565;
	margin-top: 10px;
	font-weight: 300;
	font-size: 1.125em;
}

.curso_venda {
	text-align: center;
	background-image: url(images/fundo-curso.png);
	background-color: #28292b;
	color: #FFF;
	border-top: 5px solid #FFBC00;
}

.curso_venda h1 {
	font-size: 2em;
}

.curso_venda .tagline {
	font-size: 1.25em;
	font-weight: 300;
	margin: 30px auto;
	max-width: 900px;
}

.curso_venda .preco, .curso .preco {
	font-size: 2.2em;
	font-weight: 700;
	margin-top: 5px;
}

.curso_venda .btn_sell, .curso .btn_sell {
	background-color: #00B494;
	border: none;
	border-bottom: 5px solid rgba(0,0,0,0.5);
	color: #FFF;
	width: 100%;
	height: 60px;
	max-width: 350px;
	font-size: 1.125em;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	cursor: pointer;
}

.curso_venda .btn_sell:hover, .curso .btn_sell:hover {
	background-color: rgb(3, 156, 128);
}

.curso_feed {
	margin-top: 28px;
	background-color: #0983a8;
	text-align: center;
	position: relative;
}

.curso_feed_titulo {
	font-size: 1.2em;
	max-width: 700px;
	font-weight: 700;
	color: #FFF;
	margin: 0 auto;
}

._error, ._form-thank-you {
	position: absolute;
	margin-left: 10px;
	background-color: #ff2600;
	padding: 5px;
	color: #FFF;
	font-size: 0.8em;
	font-weight: bold;
	max-width: 500px;
}

._form-thank-you {
	position: relative;
	background-color: #00C37A;
	margin-left: 7px;
	margin-top: 5px;
	width: 494px;
}

.curso_feed form {
	display: block;
	max-width: 500px;
	margin: 30px auto 0 auto;
}
.form_indicar form {
	display: block;
	max-width: 500px;
	margin: 30px 0;
	margin-left: -5px;
}

.curso_feed input, .curso_feed ._submit {
	display: inline-block;
	width: 55%;
	border: none;
	padding: 15px 10px;
	font-size: 0.8em;
	margin-right: -10px;
}

.curso_feed ._submit {
	width: 45%;
	border: none;
	font-weight: 800;
	color: #FFF;
	text-transform: uppercase;
	background-color: #FF6D00;
	cursor: pointer;
}

.form_indicar input, .form_indicar ._submit {
	padding: 10px 10px;
}

.form_indicar ._submit {
	width: 40%;
	border: none;
	font-weight: 800;
	color: #FFF;
	text-transform: uppercase;
	background-color: #999;
	cursor: pointer;
	margin-left: 10px;
}

.curso_feed ._submit:hover {
	background-color: rgb(255, 94, 0);
}

.form_indicar ._submit:hover {
	background-color: #0E7886;
}

.espiral_img {
	background-image: url(images/espiral.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.curso_feed .espiral_img {
	width: 116px;
	position: absolute;
	height: 40px;
	top: -14.5px;
	left: 50%;
	margin-left: -58px;
}

/*
 * CONTATO
 */
.contato_box {
	max-width: 700px;
	margin: 0 auto;
}

.contato_box h1 {
	font-weight: 400;
	font-size: 1.125em;
	text-transform: uppercase;
	color: #656565;
}

.contato_box form {
	padding: 40px;
	background-color: #FFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	margin-top: 20px;
}

.contato_box label {
	margin-bottom: 25px;
	display: block;
}

.contato_box span {
	font-weight: 700;
	font-size: 1em;
	color: #656565;
	margin-bottom: 5px;
	display: block;
}

.contato_box input, .contato_box textarea {
	background: #f5f5f5fb;
	border: 1px solid #DDDDDD;
	padding: 15px;
}

.contato_box .btn {
	font-weight: 700;
	text-transform: uppercase;
}

/*
 * 404
 */

/*
 * FOOTER
 */

.footer {
	background-color: #2E2E2E;
	padding-top: 30px !important;
	padding-bottom: 60px !important;
}

.footer_descricao h1 {
	color: #FFF;
	font-size: 1.125em;
	font-weight: 700;
}

.footer_descricao p {
	color: #F3F3F3;
	font-size: 0.875em;
	line-height: 25px;
}

.footer_descricao ul {
	margin-top: 30px;
	color: #CED1D4;
}

.footer_descricao li {
	display: block;
	margin-bottom: 15px;
}

.footer_descricao li span {
	font-size: 1em;
}

.footer_descricao_redes_sociais li {
	display: inline-block;
	margin-right: 10px;
}

.footer_descricao_contato img {
	width: 20px;
	margin-right: 10px;
}

.footer_descricao_borda {
	width: 100%;
	height: 2px;
	background-color: #666;
	margin: 10px 0 20px 0;
	position: relative;
}

.footer_descricao_borda span {
	width: 64px;
	height: 8px;
	background-color: #666;
	position: absolute;
	left: 0;
	top: -3px;
}

.footer_copyright {
	text-align: center;
	background: #212121;
}

.footer_copyright span {
	font-weight: 700;
	color: #EBEDEF;
	font-size: 0.875em;
}

.footer_icon li {
	display: inline-block;
	margin-right: 5px;
}

.footer_icon a {
	background-repeat: no-repeat;
	display: block;
	width: 32px;
	height: 36px;
	background-size: 32px;
}

.footer_icon .facebook_footer {
	background-image: url(images/icon_facebook_footer.png);
}

.footer_icon .youtube_footer {
	background-image: url(images/icon_youtube_footer.png);
}

/* EBOOK */
.ebook h1 {
	font-size: 2em;
	color: #656565;
	margin-bottom: 30px;
}

.ebook .tagline {
	margin-bottom: 20px;
	color: #656565;
	letter-spacing: 1px;
	line-height: 30px;
}

.ebook .curso_presente_form_btn {
	background-color: #00C37A !important;
}

.ebook .curso_presente_form_btn:hover {
	background-color: #01ac6d !important;
}

.obrigado .tagline {
	margin-bottom: 50px;
}

.obrigado a {
	background-color: #01ac6d;
	color: #FFF;
	font-size: 1.125em;
	font-weight: 700;
	padding: 15px;
	text-transform: uppercase;
}

.obrigado a:hover {
	background-color: #02915c;
}